replicaCount: 1

image:
  # Note: the name of the repository is used throughout the chart to figure if we should configure for SE or EE
  # "axoniq/axonserver" is the SE Docker image. Any other (custom) image means that the chart will configure for EE
  repository: axoniq/axonserver
  pullPolicy: IfNotPresent
  tag: "4.4"

config:
  serverDomain: nonprod.axon
  accessControl:
    enabled: false
    token: ~

configMapServerProperties: ~

java:
  jvmOptions:
    additionnalOptions: ~
    memoryOptions: "-XX:MinRAMPercentage=75 -XX:MaxRAMPercentage=85"
    memoryErrorOptions: "-XX:+ExitOnOutOfMemoryError -XX:+CrashOnOutOfMemoryError"
    timezoneOptions: "-Duser.timezone=UTC"
    networkingOptions: "-Dnetworkaddress.cache.ttl=0 -Dnetworkaddress.cache.negative.ttl=0"

imagePullSecrets: []

serviceAccount:
  create: true
  annotations: {}

podAnnotations: {}

podSecurityContext:
  runAsUser: 1001
  fsGroup: 1001

securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1001

service:
  gui:
    type: LoadBalancer
    port: 8024
  grpc:
    type: ClusterIP
    port: 8124

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # nginx.ingress.kubernetes.io/affinity: cookie
    # nginx.ingress.kubernetes.io/affinity-mode: persistent
  # hosts:
  #  - host: chart-example.local
  #    paths: []
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local


persistence:
  enabled: false
  # This chart can use the standard storage class, use an already existing custom class or create and use
  # a new custom class.
  #
  # The customStorageClass flag is used to have the chart create and manage a custom storage class
  # If customStorageClass is used, you need to defined other flags such as storageClass, storageProvisioner
  # and storageParameters
  #
  # customStorageClass: true
  #
  # Regardless of customStorageClass, storageClass can be provider for claims template to be created using that
  # storageClass. The parameters storageProvisioner and storageParameters are only used by the StorageClass manifest
  #
  # storageClassName: standard
  # storageProvisioner: kubernetes.io/aws-ebs
  # storageParameters:
  #   type: io1
  #   iopsPerGB: "10"
  #   fsType: ext4

  accessModes:  [ReadWriteOnce]
  ## Storage Capacities for persistent volumes
  # Storage capacity for the 'data' directory, which is used to hold things such as the flow.xml.gz, configuration, state, etc.
  eventstoreStorage:
    size: 16Gi
  # Storage capacity for
  dataStorage:
    size: 3Gi

  logStorage:
    size: 3Gi

## Lifecycle handlers:
##   https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/
# postStart: "echo Hello from the postStart handler > /usr/share/message"
# preStop: "nginx -s quit; while killall -0 nginx; do sleep 1; done"

## Additional environment variables to set
extraEnvs: []
# extraEnvs:
#   - name: FOO
#     value: some-value
#   - name: BAR
#     valueFrom:
#       secretKeyRef:
#         key: FOO
#         name: secret-resource

extraVolumeMounts: []
## Additional volumeMounts to the main container.
#  - name: plugin-dir
#   mountPath: /var/lib/octant-plugins

extraVolumes: []
## Additional volumes to the pod.
#  - name: plugin-dir
#    emptyDir: {}

extraVolumeClaimTemplates: []
## Additional volumes claim templates.
#  - metadata:
#      name: some-claim-template
#    spec:
#      accessModes: [ "ReadWriteOnce" ]
#      resources:
#        requests:
#          storage: 2Gi

extraInitContainers: []
## Add init containers, which are run before Axon server is started.
# - name: init-myservice
#   image: busybox
#   command: ['sh', '-c', 'until nslookup myservice; do echo waiting for myservice; sleep 2; done;']

extraSidecarContainers: []
## Add sidecar containers to run along Axon server.
# - name: logger
#   image: ez123/alpine-tini

# Virtual service is Istio's set of traffic routing rules
# Istio 1.4+ is supported. For complex use case, consider leaving this to false
# and patching-in your own definition for VirtualService and other resources
virtualservices:
  enabled: false

  # More than one service can be defined if, eg, you have two different gateways listenuing on different hostnames
  services: []
  #  - hosts:
  #    - chart-example.local
  #    - chart-example-two.local
  #    gateways:
  #    - istio-system/my-istio-gateway
  #    ## todo: routes, etc.
  #

persistence:
  storageSize: 8Gi
  ## If defined, storageClass: <storageClass>
  ## If set to "-", storageClass: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClass spec is
  ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
  ##   GKE, AWS & OpenStack)
  ##
  # existingClaim:
  # annotations:
  #  "helm.sh/resource-policy": keep
  # storageClass: "-"
  # If PersistentDisk already exists you can create a PV for it by including the 2 following keypairs.
  # pdName: nexus-data-disk
  # fsType: ext4

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}
#   cloud.com/my-nodepool: axon-pool

tolerations: []

affinity: {}
